<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Silex and the city</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">





    <link rel="stylesheet" href="{{ asset('css/main.css') }}">




    
    </head>
<body>
    <header>
	    <h1>Flickr in Silex :-)</h1>
	    <nav>
	        <ul class="link-list">
	            <li><a class="button button-primary" href="{{ path('hello')}}">Hello World</a></li>

                <li><a class="button button-primary" href="{{ path('customer')}}">Clients</a></li>

                <li><a class="button button-primary" href="">Dire Bonjour !</a></li>

                <li><a class="button button-primary" href="">Flickr</a></li>
	        </ul>
	       </nav>
	</header>