{{include('header.twig')}}

	<main>
			<p>Bienvenue {{ name }}</p>


		      <ul>
	                <li>banane est de couleur jaune</li>
	                <li>abricot est de couleur orange</li>
	                <li>fraise est de couleur rouge</li>
	       </ul>
	</main>

	       
	    <footer>
	    </footer>
	</body>
</html>
